.signin-title{
  font-size: 13px;
  font-weight: 600;
  color: blueviolet;
}


.signin-container {
  background-color: white; 
  padding: 20px; /* Padding inside the container */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  max-width: 400px; /* Limits the width of the form */
  margin: auto; /* Centers the form horizontally */
}

.signin-container div {
  margin-bottom: 15px; /* Space between each form element */
}

.signin-label {
  font-size: 13px;
  font-weight: 500;
  color: black;
  display: block; /* Makes labels take up a full line */
  margin-bottom: 5px; /* Space below each label */
}

.signin-username-input {
  height: 15px;
  width: 90%; /* Full width inputs */
  padding: 10px; /* Padding inside the inputs */
  border: 2px solid #ccc; /* Light gray border */
  border-radius: 5px; /* Slightly rounded corners */
  font-size: 13px; /* Larger font size for readability */
  font-weight: 500;
}

.signin-username-input:focus{
  border-color: blueviolet; 
  outline: none; /* Removes default outline */
}

.signin-password-input {
  height: 15px;
  width: 90%; /* Full width inputs */
  padding: 10px; /* Padding inside the inputs */
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 2px; /* Slightly rounded corners */
  font-size: 13px; /* Larger font size for readability */
  font-weight: 500;
}

.signin-password-input:focus{
  border-color: blueviolet; /* Blue border when input is focused */
  outline: none; /* Removes default outline */
}

.signin-button-container{
  display: inline-block;
  width: 400px;
}

.signin-button {
 width: 150px;
 height: 40px;
 font-size: 13px;
 font-weight: 600;
 background-color: blueviolet;
 border-radius: 2px;
 color: white;
}

.signin-button:hover {
  color: black;
}

.signin-link {
  font-size: 12px; 
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}

.signin-link:hover {
  color: blueviolet;
}

.forgotpassword-link {
  float: right;
  margin-right: 15px;
}

.forgotpassword-link:hover {
  color: blueviolet;
}