.product-cart-item1 { grid-area: header; }
.product-cart-item2 { grid-area: productcartimg; }
.product-cart-item3 { grid-area: left; }
.product-cart-item4 { grid-area: main; }
.product-cart-item5 { grid-area: right; }
.product-cart-item6 { grid-area: footer; }

.product-cart-container {
  display: grid;
  grid-template-areas:
    'header header header header'
    'productcartimg left main right'
    'footer footer footer footer ';
  gap:  0px;
  background-color: #f3ebeb;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.product-cart-container > div {
  background-color: none;
  text-align: center;
  padding: 0;
  font-size: 13px;
}

