.product-cart-img {
    display: block;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    width: 100px;
    height: 100px;
    border-radius: 1rem;
    border: 2px solid black; /* Adjust thickness as needed */
}

.product-cart-img-out-of-stock {
  display: block;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  width: 100px;
  height: 100px;
  border-radius: 1rem;
  border: 2px solid black; /* Adjust thickness as needed */
  opacity: 0.5;
}

.product-cart-list{
  display: inline-block;
  width: 500px;
  text-align: left;
  word-wrap: break-word;
  margin-left: 20px;
}

.product-cart-name{
  font-size: 13px;
  margin-left: 15px;
  margin-right: 5px;
  color: black;
  font-weight: 500;
}

.product-cart-price{
  font-size: 13px;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
  color: orange;
  font-weight: 600;
}

.product-cart-shippingcost{
  font-size: 13px;
  margin-left: 15px;
  margin-right: 15px;
  color: gray;
}

.product-cart-productcartqty{
  font-size: 13px;
  margin-left: 15px;
  margin-right: 15px;
  color: gray;
}

.product-cart-qty-value{
  font-size: 13px;
  margin-right: 10px;
  width: 40px;
  color: black;
}

.product-cart-delete {
  margin-top: 120px;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
  float: right;
  transition: background-color 0.3s, transform 0.3s;
}

.product-cart-delete:hover {
  transform: scale(1.5); /* Slightly enlarges the icon */
}

.selectproduct{
  display: flex;
  cursor: pointer;
}

.total {
  margin-top: 20px; /* Space above the total */
  padding: 10px; /* Padding around the total */
  background-color: #f3ebeb; /* Light background color */
  border: 1px solid #ddd; /* Light border */
  border-radius: 5px; /* Rounded corners */
  display: flex; /* Flexbox for alignment */
  justify-content: space-between; /* Space between items */
  align-items: center; /* Center items vertically */
  font-size: 13px;
  font-weight: 600;
}

.productcartorder {
  height: 40px;
  width: 150px;
  background-color: orangered;
  font-size: 13px;
  font-weight: 600;
  border-radius: 2px;
  color: white;
}

.productcart-paymentmethod{
  margin-top: 20px; /* Space above the total */
  padding: 10px; /* Padding around the total */
  background-color: #f3ebeb; /* Light background color */
  border: 1px solid #ddd; /* Light border */
  border-radius: 5px; /* Rounded corners */
  display: flex; /* Flexbox for alignment */
  justify-content: space-between; /* Space between items */
  align-items: center; /* Center items vertically */
  font-size: 13px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
    .product-cart-img {
        display: block;
        float: left;
        margin-top: 5px;
        margin-left: 5px;
        max-width: 50px;
        max-height: 50px;
        border-radius: 1rem;
        border: 2px solid black; /* Adjust thickness as needed */
    }
    
    .product-cart-img-out-of-stock {
      display: block;
      float: left;
      margin-top: 5px;
      margin-left: 5px;
      max-width: 50px;
      max-height: 50px;
      border-radius: 1rem;
      border: 2px solid black; /* Adjust thickness as needed */
      opacity: 0.5;
    }
    
    .product-cart-list{
      display: inline-block;
      max-width: 220px;
      text-align: left;
      word-wrap: break-word;
      margin-left: 20px;
    }
    
    .product-cart-name{
      font-size: 10px;
      margin-left: 15px;
      margin-right: 5px;
      color: black;
      font-weight: 500;
    }
    
    .product-cart-price{
      font-size: 10px;
      margin-top: 30px;
      margin-left: 15px;
      margin-right: 15px;
      color: orange;
      font-weight: 600;
    }
    
    .product-cart-shippingcost{
      font-size: 10px;
      margin-left: 15px;
      margin-right: 15px;
      color: gray;
    }
    
    .product-cart-productcartqty{
      font-size: 10px;
      margin-left: 15px;
      margin-right: 15px;
      color: gray;
    }
    
    .product-cart-qty-value{
      font-size: 10px;
      margin-right: 10px;
      width: 40px;
      color: black;
    }
    
    .product-cart-delete {
      margin-top: 120px;
      margin-left: 15px;
      margin-right: 15px;
      cursor: pointer;
      float: right;
      transition: background-color 0.3s, transform 0.3s;
    }
    
    .product-cart-delete:hover {
      transform: scale(1.5); /* Slightly enlarges the icon */
    }
    
    .selectproduct{
      display: flex;
      cursor: pointer;
    }
    
    .total {
      margin-top: 20px; /* Space above the total */
      padding: 10px; /* Padding around the total */
      background-color: #f3ebeb; /* Light background color */
      border: 1px solid #ddd; /* Light border */
      border-radius: 5px; /* Rounded corners */
      display: flex; /* Flexbox for alignment */
      justify-content: space-between; /* Space between items */
      align-items: center; /* Center items vertically */
      font-size: 13px;
      font-weight: 600;
    }
    
    .productcartorder {
      height: 40px;
      width: 150px;
      background-color: orangered;
      font-size: 13px;
      font-weight: 600;
      border-radius: 2px;
      color: white;
    }
    
    .productcart-paymentmethod{
      margin-top: 20px; /* Space above the total */
      padding: 10px; /* Padding around the total */
      background-color: #f3ebeb; /* Light background color */
      border: 1px solid #ddd; /* Light border */
      border-radius: 5px; /* Rounded corners */
      display: flex; /* Flexbox for alignment */
      justify-content: space-between; /* Space between items */
      align-items: center; /* Center items vertically */
      font-size: 13px;
      font-weight: 600;
    }
}