:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: normal;
  font-size: 12px; /*Body Font*/

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0px;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/*body {
  width: 1280px;
}*/

h1 {
  font-size: 2em;
  line-height: 1;
  margin-top: 10px;
}

input {
  font-size: 12px;
  font-weight: normal;
  margin: 5px;
  cursor: text;
  float: center;
  text-align:left;
  float: left;
  width: 200px;
  height: 20px;
}

label { 
  display: block;
  font-size: 12px;
  margin: 5px;
  cursor: default;
  float: left;
}


a {
  font-size: 12px; 
  font-weight: 400;
  color: white;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

button {
  margin-top: 15px;
  border: 1px solid transparent;
  font-size: 13px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  height: 40px;
  width: 40%; /* Full width button */
  padding: 10px; /* Padding inside the button */
  background-color: b;
  color:  #ffffff; /* White text color */
  border: none; /* No border */
  border-radius: none; /* Rounded corners */
  font-size: 13px; /* Font size for the button */
  cursor: pointer; /* Pointer cursor on hover */
  margin-bottom: 15px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    /*background-image: linear-gradient(to bottom right ,rgb(40, 76, 148),rgb(212, 193, 212));*/
    background-image: linear-gradient(to bottom right ,rgb(0, 110, 255),rgb(247, 136, 247) , rgb(163, 159, 159));
  
  }

  a:hover {
    color: blueviolet;
  }
} 