.product-order-list-item1 { grid-area: header; }
.product-order-list-item2 { grid-area: productimg; }
.product-order-list-item3 { grid-area: main; }
.product-order-list-item4 { grid-area: right; }
.product-order-list-item5 { grid-area: footer; }


.product-order-list-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'productimg main main main right right';
  background-color: #f3ebeb;
  border-radius: 5px;
  margin-bottom: 15px;
  cursor: pointer;
  
}

.product-order-list-container > div {
  /*background-color: rgba(255, 255, 255, 0.5);*/
  text-align: center;
  font-size: 13px;
}

