  /*1.check email*/

.signup-verify-container {
display: inline-block;
width: 400px;
padding: 20px;
border: 1px solid #ddd;
border-radius: 0px;
background-color: #f9f9f9;
}

.signup-verify-field {
display: flex;
align-items: center;
margin-bottom: 2px;
}

.signup-verify-label {
margin-right: 10px;
font-weight: bold;
}

.signup-verify-input {
flex: 1;
width: 100%;
padding: 8px;
border: 1px solid #ccc;
border-radius: 2px;
background-color: #fff;
outline: none;
}

.signup-verify-input:hover {
border-color: blueviolet;
}

input[readonly] {
background-color: #e9ecef; /* Light gray background for read-only fields */
}

.signup-verify-button {
padding: 8px 10px;
border: none;
border-radius: 2px;
background-color: blueviolet; 
color: white;
cursor: pointer;
transition: background-color 0.3s;
width: 100px;
float: right;
}

.signup-verify-button:hover{
color: black;
}

@media screen and (max-width:768px) {
.signup-verify-container {
display: inline-block;
max-width: 300px;
padding: 20px;
border: 1px solid #ddd;
border-radius: 0px;
background-color: #f9f9f9;
}
}

/*2.verify style in utility*/

/*3 sign up*/

.signup-container {
  display: inline-block;
  width: 400px;
  background-color: white;
  padding:20px;
}

.signup-input {
  width: 95%;
  height: 35px;
  font-size: 13px;
  font-weight: 500;
  color: black;
  border-radius: 5px;
}

.signup-input:hover{
  border-color: blueviolet;
}

.signup-input-address{
  width: 95%;
  height: 100px;
  font-size: 13px;
  margin-bottom: 10px;
}

.signup-input-address:hover{
  border-color: blueviolet;
}

/*Radio*/
.select-gender{
  display: inline-block;
  width: 100%;
}

.signup-error-message {
  display: inline-block;
  color: red;
  font-size: 12px;
  margin-top: 5px; /* Slightly adjusts error message vertical position */
  width: 100%;
}

.create-account-button {
  background-color:blueviolet;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
  width: 100%;
}

.create-account-button:hover{
  color: black;
}


@media screen and (max-width:768px) {
  .signup-container {
    display: inline-block;
    max-width: 300px;
    background-color: white;
    padding:20px;
  }
  
  .signup-input {
    width: 95%;
    height: 35px;
    font-size: 13px;
    font-weight: 500;
    color: black;
    border-radius: 5px;
  }
  
  .signup-input:hover{
    border-color: blueviolet;
  }
  
  .signup-input-address{
    width: 95%;
    height: 100px;
    font-size: 13px;
    margin-bottom: 10px;
  }
  
  .signup-input-address:hover{
    border-color: blueviolet;
  }
  
  /*Radio*/
  .select-gender{
    display: inline-block;
    width: 100%;
  }
  
  .signup-error-message {
    display: inline-block;
    color: red;
    font-size: 12px;
    margin-top: 5px; /* Slightly adjusts error message vertical position */
    width: 100%;
  }
  
  .create-account-button {
    background-color:blueviolet;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
    width: 100%;
  }
  
  .create-account-button:hover{
    color: black;
  }
}

